//-------------------COLORS-VARIABLES--------------
$color-default: #3787c8;
$color-primary: #3887c8;
$font-default: #555f64;
$font-primary: #e14b32;
$font-span: #faaf40;
// ///---------------------FONTS-VARIABLES----------------

// // -----------------------FONT-SIZES---------------
$font-extralarge: 6.4rem;
$font-large: 4.5rem;
$font-medium: 3.6rem;
$font-small: 3rem;
